
TerraformProject/.terraform
TerraformProject/provider.tf
TerraformProject/providers.tf
TerraformProject/.terraform.lock.hcl
TerraformProject/terraform.tfstate
TerraformProject/terraform.tfstate.backup